[user]
	name = {{ .user.name }}
	email = {{ .user.email }}
{{ if eq .chezmoi.os "linux" }}
[credential]
	helper = store
{{ end -}}
[merge]
	ff = false
[pull]
	ff = only
[core]
	editor = nvim
	autocrlf = input
[push]
  autoSetupRemote = true
