#!/bin/bash

if [ ! -f "/home/dkrasiev/.config/chezmoi/key.txt" ]; then
    mkdir -p "/home/dkrasiev/.config/chezmoi"
    chezmoi age decrypt --output "/home/dkrasiev/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "/home/dkrasiev/.config/chezmoi/key.txt"
fi

