* {
  border: none;
  font-family: "Fira Code", "Symbols Nerd Font Mono";
  font-size: 16px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window {
  background: transparent;
}

/* all widgets */
#workspaces button,
#clock,
#backlight,
#pulseaudio,
#bluetooth,
#network,
#battery {
  color: #b4befe;
  background: #11111b;

  margin-top: 5px;

  border: 1px solid #b4befe;
  border-radius: 10px;
}

/* left widgets */
#workspaces {
  margin-left: 5px;
}

/* center widgets */
#clock {
}

/* right widgets */
#backlight,
#pulseaudio,
#bluetooth,
#network,
#battery {
  margin-right: 5px;
}

#clock,
#backlight,
#pulseaudio,
#bluetooth,
#network,
#battery {
  padding: 0 10px;
}

#workspaces button:first-child {
  border-left: 1px solid #b4befe;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#workspaces button:last-child {
  border-right: 1px solid #b4befe;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#workspaces button {
  border-top: 1px solid #b4befe;
  border-bottom: 1px solid #b4befe;
  border-right: none;
  border-left: none;

  border-radius: 0px;
}
